.detail {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 70px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.detail img {
    position: relative;
    top: -40px;
    max-width: 150px;
    width: 330%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.detail .detail__data{
  /* display: flex; */
}

.detail .detail__title,
.detail .detail__year {
  margin: 0;
  font-weight: 300;
}

.detail .detail__title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    margin: 5;
    color: #2c2c2c;
}

.detail .detail__genres {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    /* margin: 5px 0px; */
}

.detail_genres__genre,
.detail .detail__year {
  margin: 10;
  margin-right: 10px;
  font-size: 10px;
}

.detail .detail__summary{
    margin: 10;
    font-size: 10px;
}