.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.front {
  display: inline;
  margin-left: 10px;
}

.year_ {
  position: sticky;
  top: 0;
}

.btn {
  display: inline;
  /* border: none; */
  /* border-radius: 50%; */
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: sticky;
  top: 50px;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 10px;
  width: 400%;
}